/* FONTS */
$gilroyMedium: 'GilroyMedium';
$gilroySemiBold: 'GilroySemiBold';

/* COLORS */
$neutral100: #000;
$neutral90: #151515;
$neutral70: #575757;
$neutral50: #979797;
$neutral30: #f2f2f2;
$neutral20: #e3e3e3;
