@import '../../design-tokens/mixins.scss';

.Main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 40px;
  position: relative;
  @include atMedium {
    margin-top: 48px;
  }
  @include atLarge {
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 88px;
  }
  @include atXL {
    justify-content: flex-start;
  }
}
