@import '../../design-tokens/variables.scss';
@import '../../design-tokens/mixins.scss';

.SaleInfo {
  position: relative;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 32px;
  @include atLarge {
    margin-top: 40px;
    margin-bottom: 72px;
  }
  @include atXL {
    width: 556px !important;
    height: auto;
  }

  .logo {
    width: 64px;
    height: 64px;
  }

  .bid {
    margin-bottom: 30px;
    @include atLarge {
      margin-bottom: 52px;
    }
  }

  .current-bid {
    margin-bottom: 20px;
    @include atSmall {
      margin-right: 120px;
      margin-bottom: 0;
    }
    @include atMedium {
      margin-right: 149px;
    }
    img {
      height: 23px;
      width: auto;
      margin-right: 13px;
      transform: translateY(-3px);
    }
  }

  .title {
    text-transform: uppercase;
    color: #fff;
    background-color: $neutral100;
    padding: 4px 6px;
    border-radius: 17px;
    font-size: 0.625rem;
  }

  .time-item:not(:last-child) {
    margin-right: 16px;
    @include atSmall {
      margin-right: 20px;
    }
    @include atMedium {
      margin-right: 24px;
    }
  }
}
