@import '../../design-tokens/variables.scss';
@import '../../design-tokens/mixins.scss';

.SaleInfo {
  position: relative;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 72px;
  @include atLarge {
    width: 556px !important;
    height: auto;
  }

  .flex {
    display: flex;
    align-items: center;
    &--sb {
      justify-content: space-between;
    }
  }

  .logo {
    width: 64px;
    height: 64px;
  }

  .about {
    font-family: $gilroyMedium;
    color: $neutral70;
    max-width: 452px;
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 32px;
  }

  .bid {
    margin-bottom: 52px;
  }

  .current-bid {
    margin-right: 149px;
    img {
      height: 23px;
      width: auto;
      margin-right: 13px;
      transform: translateY(-3px);
    }
  }

  .title {
    text-transform: uppercase;
    color: #fff;
    background-color: $neutral100;
    padding: 4px 6px;
    border-radius: 17px;
    font-size: 0.625rem;
  }

  .text {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .text-light {
    font-family: $gilroyMedium;
    font-size: 1rem;
    color: $neutral50;
    margin-top: 13px;
  }

  .time-item:not(last-chiled) {
    margin-right: 24px;
  }
}
